.background {
  height: 86vh;
}

.loginContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.header p {
  color: #666;
}

.header a {
  color: #FFC100;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header a:hover {
  color: #000000;
}



.loginForm {
  background: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  padding: 2rem;
  border-radius: 8px;
}

.loginForm h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.formGroup input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #989898;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.forgotPassword {
  display: block;
  margin-top: 0.5rem;
  color: #FFC100;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.forgotPassword:hover {
  color: #000000;
}

.formActions {
  text-align: center;
}



.passwordInputContainer {
    position: relative;
    width: 100%;
}

.passwordInputContainer input {
    width: 100%;
    padding-right: 40px; /* Espaço para o botão */
}

.showPasswordButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0 5px;
}