.container{
    display: flex;
    flex-direction: column;
    padding: 30px 80px;
    background-color: #181818;
}

.container img{
    width: 67px;
}

.divisor{
    width: 100%;
    height: 1px;
    color: #C1C7CD;
    background-color: #C1C7CD;
    margin: 48px 0;
    border: none;
}

.site_map{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.links{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 16px;
}

.links h6{
    font-size: 16px;
}

.links a{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

.container p{
    color: #fff;
}