.howItWorks {
  background-color: #FFBF0B;
  padding: 6rem 2rem;
}

.sectionHeader {
  margin-bottom: 3rem;
  text-align: center;
}

.sectionHeader h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.sectionHeader p {
  font-size: 1.2rem;
  color: #515151;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap; 
}

.step {
  max-width: 300px;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  text-align: center;
}

.step:hover {
  transform: translateY(-10px);
}

.step img {
  width: 80px;
  height: 80px;
  margin-bottom: 1.5rem;
}

.step h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.step p {
  color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
  .steps {
    flex-direction: column;
    align-items: center;
  }
  .step {
    max-width: 100%;
  }
}