.container {
    margin-bottom: 90px;
}

.mainContent {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
}

.appContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttonAnuncio {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #f08a72;
    color: #333;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in;
}

.buttonIcon {
    font-size: 24px;
}

.buttonAnuncio:hover {
    background-color: #000000;
    color: #fff;
}

.statusCard {
    display: flex;
    background-color: transparent;
    border-radius: 14px;
    width: 200px;
    padding: 10px 15px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid #f08a72;
    color: #000000;
}

.statusCard:hover {
    transform: translateY(-2px);
    background-color: #f8b8aa;
    border: 1px solid #f8b8aa;
}

.statusCard:hover .cardTitleEsquerda,
.statusCard:hover .cardStatus {
    color: #fff;
}

.cardContent {
    display: flex;
    gap: 16px;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.textContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardTitleEsquerda {
    font-size: 13.5px;
    margin: 0;
    color: #000000;
    font-weight: 400;
}

.cardStatus {
    font-size: 12px;
    margin: 4px 0 0;
}

.statusApproved {
    color: #28a745;
}

.statusPending {
    color: #ffc107;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rightColumn {
    display: flex;
    flex-direction: column;
}

.section {}

.sectionHeader {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.sectionHeader h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: #000000;
}

.editIcon {
    cursor: pointer;
    color: #000000;
}

.tagsContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    border: 1px solid #DBDBDB;
    padding: 20px;
    border-radius: 14px;
}

.tag {
    background-color: #F0EFF1;
    color: #777777;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 12px;
}

.descriptionContent {
    border: 1px solid #DBDBDB;
    border-radius: 14px;
    padding: 20px;
    margin-bottom: 40px;
}

.descriptionContent p,
.descriptionContent ul {
    font-size: 15px;
    line-height: 1.6;
}

.descriptionContent h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.list li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.checkedItem {
    margin-right: 8px;
    color: #000000;
}

.bottomSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.inputGroup {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
}

.inputField {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #DBDBDB;
}

.inputField input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    width: 100px;
    text-align: center;
}

.inputField span {
    font-size: 14px;
}

.selectField {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    font-size: 16px;
}

.card {
    border-radius: 12px;
}

.card h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.actionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 14px;
    border-radius: 13px;
    margin-bottom: 10px;
    background-color: #F0EFF1;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 15px;
    color: #333;
    width: 300px;
    transition: background-color 0.2s, transform 0.1s;
}

.actionItem:hover {
    background-color: #c9c9c9;
}

.actionItem:active {
    transform: scale(0.98);
}

.statusBox {
    background-color: #C9EFFF;
    padding: 4px;
    border-radius: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;
}

.statusText {
    font-size: 14px;
}

.btnSave {
    background-color: transparent;
    color: #E66F51;
    transition: 0.2s ease-in-out;
    border: none;
    font-size: 16px;
}

.btnSave:hover {
    color: #6f3333;
}

/* --- Media Queries para Responsividade --- */

@media (max-width: 1024px) {
    .mainContent {
        flex-direction: column;
    }
    
    .rightColumn {
        flex-direction: column-reverse; /* Move a coluna da direita para o topo em telas menores */
    }

    .actionItem {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .mainContent {
        gap: 20px;
        flex-direction: column;
    }

    .bottomSection {
        grid-template-columns: 1fr;
    }

    .appContainer {
        width: 100%;
    }

    .buttonAnuncio, 
    .statusCard {
        width: 100%;
    }

    .leftColumn,
    .rightColumn {
        width: 100%;
    }

    .rightColumn {
        flex-direction: column-reverse;
    }

    .btnSave {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }
    
    .sectionHeader h3 {
        font-size: 16px;
    }

    .tagsContainer, 
    .descriptionContent {
        padding: 15px;
    }

    .tag {
        font-size: 11px;
    }

    .descriptionContent p, 
    .descriptionContent ul {
        font-size: 14px;
    }
    
    .inputGroup {
        padding: 15px;
    }
    
    .inputField input {
        width: 80px;
    }
}