.sessao4 {
    display: flex;
    flex-direction: column;
    /* Mobile: coluna */
}

/* agrupador novo */
.conteudoDireita {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.caixa1 {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.caixa1>img {
    width: 320px;
}

.titulo {
    width: 100%;
    padding: 20px;
}

.titulo h1 {
    font-size: 1rem;
    color: #E6A61A;
}

.titulo h2 {
    font-size: 2rem;
    margin: 0;
}

.cards {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
}

.card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 12px;
    min-width: 290px;
    height: 90px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
}

.card2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 12px;
    min-width: 290px;
    height: 90px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
}

.feedback_card {}


.feedback_name {
    font-size: 1rem;
    font-weight: 700;
    color: #333333;
    margin: 0;
}

.feedback_text {
    font-size: 0.5em;
    line-height: 1.6;
    color: #666666;
}

.imagem_feed {
    width: 40px;
    margin-right: 10px;
}

.titulo_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.imagem_estrelas {
    height: 20px;
}

@media screen and (min-width: 1024px) {
    .sessao4 {
        flex-direction: row;
        height: 80vh;
    }

    .caixa1 {
        width: 50%;
        height: 80vh;
    }

    .caixa1>img {
        width: 600px;
    }

    .conteudoDireita {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 100px;
        gap: 10px;
    }

    .titulo {
        width: 100%;
        height: auto;
        margin-top: 60px;
    }

    .titulo h2 {
        font-size: 3rem;
        width: 60%;
    }

    .titulo h1 {
        font-size: 1.5rem;
    }

    .cards {
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
    }

    .card1 {
        height: 130px;
        margin-right: 20px;
    }

    .card2 {
        height: 130px;
        margin-left: 30px;
    }

    .imagem_feed {
        width: 100px;
        margin-right: 10px;
    }

    .feedback_name {
        font-size: 1rem;

    }

    .feedback_text {
        font-size: 0.8rem;
    }



    .imagem_estrelas {
        height: 25px;
    }
}