
.footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #666;
  border-top: 1px solid #eee;
  margin-top: auto;
  width: 100%;
  background-color: #181818;
}

.footer a {
  color: #666;
  text-decoration: none;
  margin: 0 0.3rem;
}

.footer a:hover {
  text-decoration: underline;
  color: #FFC100;
}